<h2>Companies</h2>
<h3>Please choose a company from the list below and you can see the company details below the list.
Also you can edit the number of boxes and get the number of required cargo bays.</h3>
<ul class="heroes">
  <li *ngFor="let company of companies"
      [class.selected]="company === selectedCompany"
      (click)="onSelect(company)">
    <span class="badge">-</span> {{company.name}}
  </li>
</ul>

<div *ngIf="selectedCompany">

  <h2>{{selectedCompany.name}} Details</h2>
  <div><label for="hero-name">{{selectedCompany.email}}</label></div>
  <div>
    <label for="hero-name">Boxes: </label>
    <input id="hero-name" [(ngModel)]="selectedCompany.boxes" placeholder="Cargo Boxes">
  </div>
  <div>
    <label for="hero-name">Number of required cargo bays: {{numberOfCargoBays(selectedCompany.boxes)}}</label>
  </div>

</div>
